@import "tailwindcss";

:root {
  --navy: #052460;
  --orange: #F99F38;
  --blue: #1C4DA1;
  --purple: #8E4F9E;
  --bg: #F8FAFC;
}

body {
  background-color: var(--bg);
  color: #1a202c;
}

.abea-logo {
  display: block;
  object-fit: contain;
}
